.site__main__atelier
{
  h1
  {
    font-size: 4rem;
  }
  display: flex;
  flex-direction: column;
}

.titre__nav__atelier
{
  text-align: center;
  font-family: $font__titre;
  font-size: 4rem;
}

.atelier__html .menu-item-icone{
  background-image: url("https://s2.svgbox.net/files.svg?ic=html");
  
}
.atelier__git .menu-item-icone{
  background-image: url("https://s2.svgbox.net/files.svg?ic=git");
  
}
.atelier__react .menu-item-icone{
  background-image: url("https://s2.svgbox.net/files.svg?ic=reactjs");
  
}
.atelier__css .menu-item-icone{
  background-image: url("https://s2.svgbox.net/files.svg?ic=css");
  
}