.animation { 
  &__nav{
    margin: 0 auto;
    width:100%;

    &__ul{
        animation : anim-entete-mobile 1s forwards;
        display : flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        justify-content: space-around;

        .menu-item {
            background-color: rgb(69, 97, 148);
            //width: 100%;
            height: 100px;
            margin: 1%;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            transition: 500ms;
            
            &:hover {
              transition: 500ms;
              box-shadow: 5px 10px 8px #888888;
            }

          a{
            width: 100%; 
            height: 100%;
            margin: 0 auto;
            color: $color__font-header;
            font-size: 200%;
            display : flex;
            align-items: center;
            justify-content: center;
            //padding : 3px;
          }
        }    
     }
  }
}


@media screen and (min-width: $largeur__media--tablette) {
  .animation { 
    &__nav{
      margin: 0 auto;
      width:100%;
  
      &__ul{
          animation : anim-entete-mobile 1s forwards;
          display : flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          list-style-type: none;
          margin: 0;
          padding: 0;
          justify-content: space-around;
  
          .menu-item {
              background-color: rgb(69, 97, 148);
              //width: 100%;
              height: 100px;
              margin: 1%;
              padding: 0;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-content: center;
              transition: 500ms;
              
              &:hover {
                transition: 500ms;
                box-shadow: 5px 10px 8px #888888;
              }
  
            a{
              width: 100%; 
              height: 100%;
              margin: 0 auto;
              color: $color__font-header;
              font-size: 200%;
              display : flex;
              align-items: center;
              justify-content: center;
              //padding : 3px;
            }
          }    
       }
    }
  }
}

@media screen and (min-width: $largeur__media--desktop) {
  .animation { 
    &__nav{
      width:100%;
  
      &__ul{
          animation : anim-entete 1s forwards;
          display : flex;
          flex-direction: row;
          align-content: center;
          list-style-type: none;
          margin: 0;
          padding: 0;
          justify-content: space-around;

          .menu-item {
              background-color: rgb(69, 97, 148);
              width: 20%;
              height: 200px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              transition: 500ms;
              
              &:hover {
                transition: 500ms;
                box-shadow: 5px 10px 8px #888888;
              }

            a{
              text-align: center;
              width: 100%; 
              height: 100%;
              margin: 0 auto;
              color: $color__font-header;
              font-size: 200%;
              display : flex;
              align-items: center;
              justify-content: center;
              //padding : 3px;
            }
          }    
       }
    }
  }
}
    

@keyframes anim-entete {
    0% {
      transform : translateY(-100vh);  
    }
    100% {
        transform : translateY(0);  
    }
}

@keyframes anim-entete-mobile {
  0% {
    transform : translateX(-100vw);  
  }
  100% {
      transform : translateX(0);  
  }
}