$color__background-body: rgb(227, 233, 236);
$color__colorbackground-header: rgb(182, 159, 154);
$color__colorbackground-barre: rgb(182, 178, 154);
$color__colorbackground-main: rgb(182, 159, 154);
$color__colorbackground-footer: rgb(182, 160, 154);
$color__colorbackground-recherche: rgb(116, 117, 95);

$color__texte__recherche: rgb(202, 209, 212);
$color__texte__icones: rgb(218, 223, 210);
$color__texte__defaut: rgb(247, 247, 247);

$color__cours__bordure: rgb(244, 244, 255);
$color__cours__background: #cabca1;
$color__cours__background-pair: #c6caa1;
$color__cours__shadow: #928875;

$color__carte__bordure: #73726e;

$color__link: #00f;
$color__link-visited: none;
$color__link-hover: red;

$color__link__footer: rgb(216, 219, 37);
$color__link__footer-visited: rgb(223, 58, 8);
$color__link__footer-hover: rgb(20, 170, 0);

$color__background-link-hover: #aaa;