/* ------------------------- bibliothèque de police de caractère google -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Oxanium:wght@200&display=swap');


$font__main : 'Hubballi', cursive;
$font__titre : 'Oxanium', cursive;

$font__principal : 'Montserrat', sans-serif;
$font__secondaire : 'Poppins', sans-serif;
$font__paragraphe_1 : 'Roboto', sans-serif;
$font__paragraphe_2 : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
