.site__main {
    
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
}

.filtre{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    a{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 200%;
        height: 50px;
        width: 10%;
        margin: 0 1% 0 1%;
        background-color: rgb(69, 97, 148);
        color: white;
        transition: 500ms;
        &:hover {
            transition: 500ms;
            box-shadow: 5px 10px 8px #888888;
        }
        
    }
    
}

.formation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu-footer-container{
        margin: 0 auto;
        width:100%;
        
        ul{
            animation : anim-entete-mobile 1s forwards;
            display : flex;
            flex-direction: row;
            align-content: center;
            justify-content: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            justify-content: space-around;
            
            .menu-item {
                background-color: rgb(69, 97, 148);
                width: calc(100%/7);
                height: 100px;
                margin: 1%;
                padding: 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                transition: 500ms;
                
                &:hover {
                    transition: 500ms;
                    box-shadow: 5px 10px 8px #888888;
                }
                
                a{
                    width: 100%; 
                    height: 100%;
                    margin: 0 auto;
                    color: $color__font-header;
                    font-size: 200%;
                    display : flex;
                    align-items: center;
                    justify-content: center;
                    //padding : 3px;
                }
                }.current-menu-item{
                    background-color: rgb(54, 75, 114);
                    a{
                        color: rgb(228, 231, 67);
                    }
                }    
             }
          }

    &__titre {
        padding-top: 2%;
        align-self: center;
        font-size: 2rem;
        color: $color__font-main;
        margin: 10px 0px;
        font-family: $font__titre;
    }
    &__liste {
        padding-top: 2%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    &__cours {
        background-color: $color__background-cours;
        box-shadow: rgb(57, 64, 68) 1px -1px 10px;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width : $largeur__media--tablette){
            width: 45%;
        }
        @media screen and (min-width : $largeur__media--desktop){
            width: 30%;
        }
        padding: 10px;
    }


}





.cours__titre {
    font-size: 1.5rem;
    color: $color__font-main;
    margin: 5px 0px;
}

.cours__sigle {
    font-size: 1.2rem;
    color: rgb(138, 83, 83);
    margin: 0;
}

.cours__description {
    font-size: 1rem;
}

.site__main {
    
    padding: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
}

.formation {
    display: flex;
    flex-direction: column;

    &__titre {
        font-size: 2rem;
        color: $color__font-main;
        margin: 10px 0px;
        font-family: $font__titre;
    }
    &__liste {
        display: flex;
        flex-wrap: wrap;

        .web{
            background-image: url('https://s2.svgbox.net/files.svg?ic=html');
            background-size: 50px 50px; 
            background-position: top right;
        }
        .jeu{
            background-image: url('https://s2.svgbox.net/files.svg?ic=light-shaderlab');
            background-size: 50px 50px;
            background-position: top right;
        }
        .design{
            background-image: url('https://s2.svgbox.net/files.svg?ic=photoshop');
            background-size: 50px 50px;
            background-position: top right;
        }
        .creation-3d{
            background-image: url('https://s2.svgbox.net/files.svg?ic=maya');
            background-size: 50px 50px;
            background-position: top right;
        }
        .utilitaire{
            background-image: url('https://s2.svgbox.net/files.svg?ic=excel');
            background-size: 50px 50px;
            background-position: top right;
        }
        .video{
            background-image: url('https://s2.svgbox.net/files.svg?ic=video');
            background-size: 50px 50px;
            background-position: top right;
        }
    }
    
    &__cours {
        background-color: $color__background-cours;
        background-position: 97% 3%;
        background-repeat: no-repeat;
        box-shadow: rgb(57, 64, 68) 1px -1px 10px;
        border-radius: 5px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        @media screen and (min-width : $largeur__media--tablette){
            width: 45%;
        }
        @media screen and (min-width : $largeur__media--desktop){
            width: 30%;
        }
        padding: 10px;
    }


}





.cours__titre {
    font-size: 1.5rem;
    color: $color__font-main;
    margin: 5px 0px;
}

.cours__sigle {
    font-size: 1.2rem;
    color: rgb(138, 83, 83);
    margin: 0;
}

.cours__description {
    font-size: 1rem;
}
