.site__main
{
    display: flex;
    flex-direction: column-reverse;

    .container__info
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 0 2% 0;
    }

    h1
    {
        color: #5b6c8c;
        font-family: $font__titre;
        font-size: 4rem;
    }
    .evenement__h3
        {
            font-family: $font__titre;
            color: rgb(161, 200, 242);
            text-align: center;
            font-size: 3rem;
        }

    .evenement__p
    {
        font-family: $font__main;
        color: white;
        text-align: center;
        font-size: 2rem;
    }
    .organisateur
    {
        margin-left: 2%;
        width: 20%;
        border: 1px solid rgb(32, 32, 136);
        border-radius: 20px;
        background-color: #456194;
    }

    .heure
    {
        margin-left: 2%;
        width: 20%;
        border: 1px solid rgb(32, 32, 136);
        border-radius: 20px;
        background-color: #456194;
    }
    .date
    {
        width: 20%;
        border: 1px solid rgb(32, 32, 136);
        border-radius: 20px;
        background-color: #456194;        
    }

    .endroit
    {
        margin-left: 2%;
        width: 20%;
        border: 1px solid rgb(32, 32, 136);
        border-radius: 20px;
        background-color: #456194;
    }
}