/* Le parent de la boite__modale est la balise «body»  */
.cours__dep
{
    display: block;
}
.boite__modale {
    position : fixed;
    width : 50%;
    min-height : 50%;
    height:auto;
    top:25%;
    left:25%;
    border: 5px solid #aaa;
    background-color: rgb(80, 80, 146);
    transform : scale(0);
    transition : all 1s ease-in-out;

    
}
.ouvrir 
{
    transform : scale(1)
}

.cours__desc__suite
{
    outline: none;
    height: 2rem;
    width: 7rem;
    margin: 0 0 0 2%;
    border:  1px solid white;
    border-radius: 5px;
    background-color: rgb(80, 80, 146);
    color: white;
    transition: 500ms;
    &:active
    {
        border: none;
        outline: none;
    }
    &:focus
    {
        
        outline: none;
    }
    &:hover
    {
        outline: none;
        background-color: white;
        color: black;
        border:  1px solid black;
    }

}
.boite__modale__text
{
    z-index: -99;
    // position: absolute;
    left:10%;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
    font-size: 150%;
    color: white;
    text-align:center;
}
.boite__modale__fermeture
{
    margin: 1%;
    height: 5rem;
    width: 5rem;
    font-size: 4rem;
    line-height: normal;
    color: white;
    background-color: transparent;
    border-radius: 20px;
    border:  3px solid rgb(80, 80, 146);
    z-index: 99;
    transition: 200ms ease-in-out;

    &:hover
    {
        border-radius: 50px;
        border: 1px solid white;
    }
    &:active
    {
        transition: 100ms;
        background-color: rgb(80, 80, 146);
        border-radius: 20px;
    }
}