/* -------------------------------------------------
Navigation catégorie cours
---------------------------------------------------- */
hr{
    display: none;
}

.menu-item-description{
    border-top: 2px solid white;
    width: 90%;
    padding: 10% 0 0 0;
}
.menu-categorie_cours-container {  // nav
    .menu {   // ul
            display : flex;
            flex-direction: row;
            .menu-item { // li
                margin : 0 10px;
            
                background-color: $color__bouton__background;
                a{
                    color: $color__bouton__color;
                    

                }
            &:hover {
                background-color: $color__bouton__background--hover;
                a{
                    color: $color__bouton__color--hover;

                }
            }
            
        }
        

    }
}