
#burger {
    z-index: 50;
    position : absolute;
    transition : transform .3s;
    transform : rotate(0);

}
#chk-burger {
    display : none;
}

#chk-burger:checked ~ #burger {
    transform : rotate(90deg);
}
.site__barre {
    transform: translateY(-100%);
}
.menu-principal-container {
    background-color: $color__background-barre;
    transform: translateY(-100%);
    transition: 500ms;
    //display : none;
    padding: 35px 0 0 0;
    width: 100%;
    position: absolute;
}
#chk-burger:checked ~ .menu-principal-container, .site__barre{
    //display : block;
    transform: translateY(0%);
    transition: 500ms;
    width: 100%;
}


.menu-principal-container{}
.menu{
    list-style-type: none;
    margin : 0;
    padding :0;
}
.menu-item{
    margin:0;
    padding : 0;
    a{
        display : block;
        text-decoration: none;
        padding : 4px;
       
        &:hover {
          
        }
    }
}

@media screen and (min-width : $largeur__media--tablette){
    .site #burger {
        display : none;
    }
    .site .menu-principal-container {
        display : block;
    }

    .home #burger {
        display : block;
    }
    .home .menu-principal-container {
        display : none;
    }

}








